# Java
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/
*.tmp

# IntelliJ
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Node (if you use it in frontend)
node_modules/
dist/

# Environment
.env
